<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <webapi-manager>
            <general>
                <enable>1</enable>
                <limit>10</limit>
            </general>
            <endpoint>
                <customer-create>1</customer-create>
                <search>1</search>
            </endpoint>
        </webapi-manager>
    </default>
</config>
